.card {
    height: 100%;
}
.info-section{
    font-size: calc(1.1vw + 1.1vh);
    
    
}
.image-container img {
    object-fit: contain;
    width: 100%; /* Ensure the image takes up the full width of its container */
    height: 300px; /* Set a fixed height */
}
.vinyl-container {
    background-color: var(--bs-secondary);
}

.btn-info{
    background-color:var(--bs-primary);
}
.name {
    display: inline-block;  /* Allow width to be set */
    max-width: 150px;      /* Set a max width as needed */
    overflow: hidden;      /* Hide overflow content */
    white-space: nowrap;    /* Prevent wrapping to a new line */
    text-overflow: ellipsis; /* Add ellipsis for overflowing text */
}