.card {
    height: 100%;
}
.info-section{
    font-size: calc(1.1vw + 1.1vh);
    
    
}
.image-container img {
    object-fit: contain;
    width: 100%; /* Ensure the image takes up the full width of its container */
    height: 300px; /* Set a fixed height */
}
.vinyl-container {
    background-color: rgba(161, 157, 152, 0.706);
}

.btn-info{
    background-color: rgba(227, 135, 227, 0.211);
}